@font-face {
    font-family: 'Stem';
    src: url('../fonts/StemLight/StemLight.eot');
    src: local('☺'), url('../fonts/StemLight/StemLight.woff') format('woff'),
    url('../fonts/StemLight/StemLight.ttf') format('truetype'),
    url('../fonts/StemLight/StemLight.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../fonts/StemRegular/StemRegular.eot');
    src: local('☺'), url('../fonts/StemRegular/StemRegular.woff') format('woff'),
    url('../fonts/StemRegular/StemRegular.ttf') format('truetype'),
    url('../fonts/StemRegular/StemRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Stem';
    src: url('../fonts/StemBold/StemBold.eot');
    src: local('☺'), url('../fonts/StemBold/StemBold.woff') format('woff'),
    url('../fonts/StemBold/StemBold.ttf') format('truetype'),
    url('../fonts/StemBold/StemBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?bxp9hp');
    src:  url('../fonts/icomoon/icomoon.eot?bxp9hp#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?bxp9hp') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?bxp9hp') format('woff'),
        url('../fonts/icomoon/icomoon.svg?bxp9hp#icomoon') format('svg');
    font-weight: normal; 
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abs:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e904";
}
.icon-compass:before {
  content: "\e905";
}
.icon-cursor:before {
  content: "\e906";
}
.icon-light:before {
  content: "\e907";
}
.icon-lock:before {
  content: "\e908";
}
.icon-mirror:before {
  content: "\e909";
}
.icon-pen:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-rocket:before {
  content: "\e90c";
}
.icon-signal:before {
  content: "\e90d";
}
.icon-smile:before {
  content: "\e90e";
}
.icon-zoom:before {
  content: "\e90f";
}
